# Windows image file caches
Thumbs.db
ehthumbs.db
# Folder config file
Desktop.ini
# Recycle Bin used on file shares
$RECYCLE.BIN/
# Windows Installer files
*.cab
*.msi
*.msm
*.msp
# Private Data
ACTtrans.rda
*-oauth
*.rda
*.xls
*.xlsx
*.mp4
*.csv
*.doc
*.docx
# Images
*.jpg
*.png
*.gif
*.img
*.stl
*.tif

# =========================
# Operating System Files
# =========================
# OSX
# =========================
.DS_Store
.AppleDouble
.LSOverride
# Icon must ends with two \r.
Icon
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes
.Rproj.user
.Rhistory
auth.json
phantomjsdriver.log
*ASP.NET_SessionId=zbfa3gixldfeyouurykag51a; _ga=GA1.2.1636856434.1432836119

*.grd
*.gri

*.gpkg
*.gdb
=======
natural earth/
